@{
}

<!-- Bottom right menu -->
<ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="click">
    <li>
        <a class="fab-menu-btn btn bg-blue btn-float rounded-round btn-icon" >
            <i class="fab-icon-open icon-plus3"></i>
            <i class="fab-icon-close icon-cross2"></i>
        </a>
        <ul class="fab-menu-inner">
            <li>
                <div data-fab-label="Создать сообщение">
                    <a href="#" class="btn btn-light rounded-round btn-icon btn-float" data-toggle="modal" data-target="#modal_form_horizontal">
                        <i class="icon-pencil"></i>
                    </a>
                </div>
            </li>
            <!--<li>
                <div data-fab-label="Conversations">
                    <a href="#" class="btn btn-light rounded-round btn-icon btn-float">
                        <i class="icon-bubbles3"></i>
                    </a>
                    <span class="badge bg-primary-400">5</span>
                </div>
            </li>-->
            <!--<li>
        <div data-fab-label="Chat with Jack">
            <a href="#" class="btn bg-pink-400 rounded-round btn-icon btn-float">
                <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle" alt="">
            </a>
            <span class="badge badge-mark border-pink-400"></span>
        </div>
    </li>-->
        </ul>
    </li>
</ul>
<!-- /bottom right menu -->