@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Footer
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text">&copy;&nbsp;2019 - SpeakFree</span>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="navbar-nav-link" asp-controller="Service" asp-action="Support">
                    <i class="icon-lifebuoy mr-2"></i>
                    Поддержка
                </a>
            </li>
        </ul>
    </div>
</div>