@page
@model SpeakFree.API.Views.Chat.IndexModel
@{
}

<!-- Line content divider -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Line content divider</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="media-list media-chat media-chat-scrollable mb-3">
            <li class="media content-divider justify-content-center text-muted mx-0">
                <span class="px-2">Monday, Feb 10</span>
            </li>
            <li class="media">
                <div class="mr-3">
                    <a href="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg">
                        <img src="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-chat-item">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
                    <div class="font-size-sm text-muted mt-2">Tue, 10:28 am <a href="#"><i class="icon-pin-alt ml-2 text-muted"></i></a></div>
                </div>
            </li>
            <li class="media media-chat-item-reverse">
                <div class="media-body">
                    <div class="media-chat-item">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
                    <div class="font-size-sm text-muted mt-2">Tue, 8:12 am <a href="#"><i class="icon-pin-alt ml-2 text-muted"></i></a></div>
                </div>
                <div class="ml-3">
                    <a href="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg">
                        <img src="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                    </a>
                </div>
            </li>
            <li class="media content-divider justify-content-center text-muted mx-0">
                <span class="text-muted px-2">Today</span>
            </li>
            <li class="media media-chat-item-reverse">
                <div class="media-body">
                    <div class="media-chat-item">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
                    <div class="font-size-sm text-muted mt-2">2 hours ago <a href="#"><i class="icon-pin-alt ml-2 text-muted"></i></a></div>
                </div>
                <div class="ml-3">
                    <a href="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg">
                        <img src="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                    </a>
                </div>
            </li>
            <li class="media">
                <div class="mr-3">
                    <a href="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg">
                        <img src="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-chat-item">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
                    <div class="font-size-sm text-muted mt-2">13 minutes ago <a href="#"><i class="icon-pin-alt ml-2 text-muted"></i></a></div>
                </div>
            </li>
            <li class="media media-chat-item-reverse">
                <div class="media-body">
                    <div class="media-chat-item"><i class="icon-menu"></i></div>
                </div>
                <div class="ml-3">
                    <a href="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg">
                        <img src="~/lib/limitless/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                    </a>
                </div>
            </li>
        </ul>
        <textarea name="enter-message" class="form-control mb-3" rows="3" cols="1" placeholder="Enter your message..."></textarea>
        <div class="d-flex align-items-center">
            <div class="list-icons list-icons-extended">
                <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Send photo"><i class="icon-file-picture"></i></a>
                <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Send video"><i class="icon-file-video"></i></a>
                <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Send file"><i class="icon-file-plus"></i></a>
            </div>
            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-auto"><b><i class="icon-paperplane"></i></b> Send</button>
        </div>
    </div>
</div>
<!-- /line content divider -->